body {
  margin: 0;
  font-family:sans-serif;
} 

main {
  background-color: white;
  font-weight:normal;
}

header {
  color:white;
  text-align:center;
  border:3px solid black;
  background-color: #054386;
  margin: 0;
}

h1 {
  font-weight: 300;
  font-size: 52px;
  margin: .5em 0 .25em 0;

}

h2 {
  text-align: center;
  padding: 1em 0 1em 0;
  font-weight:400;
  font-size:34px;
  margin-bottom: 1em;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

img {
  width:200px;
  height:140px;
  object-fit: cover;
}


footer {
  height:160px;
  border:3px solid black;
  background-color: #054386;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}


.para {
  padding:30px 0 10px 47px;
  font-size: 16px;
  text-align: left;
  width: 450px;
}

.lgt-blue-bar {
  background-color:rgb(186, 207, 246);
  height:20px;
  width:500px;
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  align-items:flex-start;
}

.space-container {
  width:25%;
}

.container-1 {
  width: 45%;
  padding: 0 1.5em 0 1.5em;
}

.container-2 {
  width: 35%;
  padding: 3em 1.5em 1.5em 1.5em;
}

.caption {
  margin: 0;
  width: 180px;
}

.mt-1 {
  margin:1em;
}

.mt-2 {
  margin: 1.5em;
}

@media (max-width:1000px) {
  .d-flex {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
  } 

  .space-container {
    width:0;
  }
  .container-2 {
    width: 55%;
    padding: 3em 1.5em 1.5em 1.5em;
  }

}